{% extends '::base.html.twig' %}
{% block title %} Accueil Entreprise {% endblock %}

{% block body %}

<h1> Gestion des entreprises </h1>

<table border = 0>
	<tr>
		<td><a href="{{ path('Entreprises_consulter_tous') }}">Consulter toutes les entreprises</td>
	</tr>
	<tr>
		<td>Rechercher une entreprise (fonctionnel, manque plus que le formulaire)</td>
	</tr>
</table>
{% endblock %}